.login {
  display: flex;
  height: 100vh;
}

.login__form {
  margin: auto;
  border-radius: 15px;
  background-color: white;
  padding: 50px;
  position: relative;
  color: black;
}

.close_btn {
  position: absolute;
  top: -35px;
  right: -55px;
}
.pages__auth__footer {
  display: flex;
  justify-content: end;
}