
.pages__dictionary__layout {
  padding: 0 20px;
  overflow: auto;
  margin: 0 auto;
}
@media only screen and (min-width:768px) {
  /*style for desktop and tablet*/
    .pages__dictionary__layout {
      max-width: 60%;

    }
  }