.text__tooltip {
  cursor: pointer;
}

.text__tooltip:hover {
  color: rgb(230, 183, 183);
}
.text__exclude {
  color: red;
}
.text__html__body {
  height: 75%;
  /* line-height: 25px; */
  padding: 2%;
  white-space: break-spaces;
  overflow: auto;
  font-size: 14px;
}
.text__book_mark {
  color: blue;
}
.text__html__range {
  width: 50%;
}
.text__html__range_layout {
  display: flex;
  justify-content: flex-end;
}
.text__html__footer {
  max-width: 50%;
  /* margin: 0 auto; */
}