.text__tooltip {
  cursor: pointer;
}

.text__tooltip:hover {
  color: rgb(230, 183, 183);
}
.text__exclude {
  color: red;
}
.text__html__body {
  height: calc(100vh - 200px);
  line-height: 30px;
  padding: 5%;
  white-space: pre;
  overflow: auto;
}
.text__book_mark {
  color: blue;
}