.info__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__title {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
