.praxis__header {
  /* display: flex;
  justify-content: space-between;
  width: 100%; */
}
.card__body{
  height: 50vh;
}
.card__body__row {
  min-height: 100%;
}
.card__body__left {
  border-right: 2px solid #00000029;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.card__footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.card__values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}
.card__body__value {
  border-bottom: 2px solid #00000029;
}
.card__values > .form-check > label{
  opacity: 1;
}
.card__translate > p {
  font-size: 20px;
}
.timer_btn {
  height: 50px;
  width: 50px
}
