.card__footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.card__random {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}

.card__body__result > h3 {
  position: relative;
  max-width: fit-content;
  padding-right: 30px;
}

.card__body__value {
  border-bottom: 2px solid #00000029;
  max-height: 40px;
}

.card__random > .form-check > label{
  opacity: 1;
}

.card__translate > p {
  font-size: 20px;
}

.timer_btn {
  margin-top: -20px;
}

