
.praxis__card {
  padding: 20px;
  /* height: 100%; */
}
.praxis__card > div {
  width: 80%;
  margin: 0 auto;
}
.card__body {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__timer, .card__btn_save {
  display: flex;
  justify-content: flex-end;
}
.card__result {
  height: 50vh;
  padding: 10px;
}

.card__result__pos {
  font-size: 12px;
  font-weight: bold;
  color: #00000069;
}

.card__result__dst {
  padding: 10px;
  margin-top: 5px;
  background-color: #0000001c;
}

.card__result__exm {
  font-size: 13px;
  margin-top: 10px;
  overflow: overlay;
  white-space: pre-wrap;
  color: #0000009c;
  max-height: 30vh;
}
.card__footer {
  display: flex;
  justify-content: space-between;
}

.card__edit__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__edit__input__btn {
  max-width: fit-content;
}
.card__edit___item {
  align-items: center;
  padding: 0;
  margin: 0;
}
.card__edit___item_id {
  padding: 0;
  font-size: 12px;
}
.card__edit___item_id > button{
  padding: 0;
}
.card__edit___item_pos {
  padding: 0;
  font-size: 12px;
  color: #0000009c;
}
.card__edit___item_dst {
  padding: 0;
  font-size: 14px;
  color: #0000009c;
}
.card__items{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  height: 50vh;
  gap: 5px;
}
.card__items > div {
  padding: 4px;
}
.card__items > div, label, input {
  cursor: pointer;
}
.card__items > div:hover {
  background-color: rgb(37 37 78 / 7%);
}
.card__header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.card__footer {
  display: flex;
  justify-content: space-between;
}
.card__footer > div {
  display: flex;
}
.card__random__values__form_check {
  display: flex;
  flex-direction: row-reverse;
}
.card__random__values__form_check > label {
  margin-right: 2rem;
}



